
<body class=order-page>
     <img id="background2" src="~/css/images/logo.jpg" />
@using ConcessionStandProject
@model Order;
@{
    ViewData["Title"] = "Point Of Sale";
}

<div class="text-center">
    
    @*<h1 class="display-4">Concession Stand</h1>*@
    <p class="select">Hello! Select the item(s) you would like to order.</p>

    <div id="main">
        <div id="control-panel">
            @using (Html.BeginForm("AddItem", "Order", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.OrderId)
                @foreach(var product in ViewBag.Products)
                {
                    <button 
                        type="submit"
                        name="sku"
                        value="@product.Sku" 
                        class="item-button" 
                        >
                       <img src="@Url.Content(product.Image)" alt="@product.Name" class="imagebutton">
                    </button>
                }
            }
            

            @using (Html.BeginForm("generate-receipt", "Order", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.OrderId)
                <button
                    type="submit"
                    class="submit"
                    >Submit Order
                </button>
            }

            </div><!-- end control panel -->
            <div id="order-summary">       
                @await Html.PartialAsync("OrderSummary", Model)
           
            </div>
            <h3 class="order-summary-subtotal">Subtotal $@string.Format("{0:#.00}", Model.Subtotal)</h3>
        </div><!-- end main grid -->
    </div>
</body>